QListView {
  border-top: %tpx solid #%border;
  border-left: %lpx solid #%border;
  border-right: %rpx solid #%border;
  border-bottom: %bpx solid #%border;
  background-color: #%back;
  color: #%text;
  outline: %focus;
}

QListView::item:selected {
  padding: -1px;
  border: 1px solid #%selbrd;
  background-color: #%selback;
  color: #%text;
}

QListView::item:!selected:hover {
  background: transparent;
}
